.div {
    margin:0.5%;
    width:100%;
    height: 980px;
   border: 1px solid rgb(109, 84, 84);
   border-radius: 2%;
}

.flexcontainer {
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
  }

  